@model EIRLSS_Data_API.Models.ConfigurationRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConfigurationRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecordCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DvlaImportPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DvlaImportPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbiImportPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbiImportPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
